body{
    background-color: #dff2d8;
    color: #333;
    font-family: 'Roboto', sans-serif;
    display:flex;
    height: 700px;
    margin:0;
padding-left: 100px;
}
.gueguel{
    display:flex-start;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}


.dark {
    background: #121212;
    color: white;
}
header {
    background: #2e7d32;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 42px;
}