body{
    margin: 0;
    background-color: rgb(0, 96, 0);
    color: #333;
    font-family: 'Roboto', sans-serif;

}
.gueguel{
font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
}


body.dark {
    background: #121212;
    color: white;
}
header {
    background: #2e7d32;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 42px;
}
main{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}
main{
    max-width: 1100px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.quadro-branco {
    background-color: beige;
    color: #000000; 
    transition: background-color 0.3s, color 0.3s; 
}


.quadro-branco input, 
.quadro-branco button {
    background-color: beige;
    color: #000000;
    border: 1px solid #ccc;
}

body.dark main {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark input {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
}

body.dark button {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #666666;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark label {
    color: #ffffff;
}
.titulo1 {
    color: #2E8B57; 
}

.titulo2 {
    color: #D2691E; 
}

.titulo3 {
    color: #1E90FF; 
}




