body{
    background-color: rgb(47, 195, 87);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    height: 700px;
    margin:0;
padding-left: 100px;
}
.gueguel{
    display:flex-start;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-shadow:rgb(47, 195, 87);
    font-size: 30px;
    text-align: center;
}